.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;

  button{
    min-width: 120px;
    height: 40px;
    margin: 20px;

    background-image: linear-gradient(to bottom right, var(--secundary-green), var(--green));

    font: 700 20px "Roboto", sans-serif;

    border-radius: 10px;
  }
}